.col-md-9 {
    background-image: url("{% static 'images/bg_01.jpg' %}"); /* Путь к вашему изображению */
    background-size: cover; /* Растягивает изображение на весь экран */
    background-repeat: no-repeat; /* Запрещает повторение фоновой картинки */
}
