<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'solar_hosting/css/error_messages.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'solar_hosting/css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'solar_hosting/css/buttons.css' %}">
    {% endblock %}

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Site Metas -->
    <title>HostCloud - Responsive HTML5 Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'solar_hosting/images/favicon.ico' %}" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="{% static 'solar_hosting/images/apple-touch-icon.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'solar_hosting/css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'solar_hosting/style.css' %}">
    <!-- Colors CSS -->
    <link rel="stylesheet" href="{% static 'solar_hosting/css/colors.css' %}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{% static 'solar_hosting/css/versions.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'solar_hosting/css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'solar_hosting/css/custom.css' %}">
    <!-- Modernizer for Portfolio -->
    <script src="{% static 'solar_hosting/js/modernizer.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body class="host_version">
<!-- Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tit-up">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Вхід клієнта</h4>
            </div>
            <div class="modal-body customer-box row">
                <div class="col-md-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#Login" data-toggle="tab">Вхід</a></li>
                        <li><a href="#Registration" data-toggle="tab">Реєстрація</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="Login">
                            <form role="form" class="form-horizontal" method="post"
                                  action="{% url 'solar_hosting:login' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" id="username" name="username" placeholder="Username"
                                               type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" id="password" name="password" placeholder="Password"
                                               type="password">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-light btn-radius btn-brd grd1">
                                            Submit
                                        </button>
                                        <a class="for-pwd" href="{% url 'solar_hosting:password_reset' %}">Забули свій
                                            пароль?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="Registration">
                            <form role="form" class="form-horizontal" method="post"
                                  action="{% url 'solar_hosting:registration' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" id="first_name" name="first_name"
                                               placeholder="First Name" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" id="last_name" name="last_name"
                                               placeholder="Last Name" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" id="username" name="username" placeholder="Name"
                                               type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" id="email" name="email" placeholder="Email"
                                               type="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" id="phone" name="phone" placeholder="Phone"
                                               type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" id="password1" name="password1"
                                               placeholder="Password"
                                               type="password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" id="password2" name="password2"
                                               placeholder="Repeat Password" type="password">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-light btn-radius btn-brd grd1">
                                            Зберегти та продовжити
                                        </button>
                                        <button type="button" class="btn btn-light btn-radius btn-brd grd1">
                                            Скасувати
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- LOADER -->
<div id="preloader">
    <div class="loading">
        <div class="finger finger-1">
            <div class="finger-item">
                <span></span><i></i>
            </div>
        </div>
        <div class="finger finger-2">
            <div class="finger-item">
                <span></span><i></i>
            </div>
        </div>
        <div class="finger finger-3">
            <div class="finger-item">
                <span></span><i></i>
            </div>
        </div>
        <div class="finger finger-4">
            <div class="finger-item">
                <span></span><i></i>
            </div>
        </div>
        <div class="last-finger">
            <div class="last-finger-item"><i></i></div>
        </div>
    </div>
</div>
<!-- END LOADER -->
<header class="header header_style_01">
    <nav class="megamenu navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Увімкнути навігацію</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'solar_hosting:main' %}"><img
                        src="{% static 'solar_hosting/images/logos/logo-hosting.png' %}"
                        alt="image"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'solar_hosting:main' %}">Домівка</a></li>
                    <li><a href="{% url 'solar_hosting:features' %}">Особливості</a></li>
                    <li><a href="{% url 'solar_hosting:domain' %}">Домен</a></li>
                    <li><a href="{% url 'solar_hosting:hosting' %}">Хостинг</a></li>
                    <li><a href="{% url 'solar_hosting:pricing' %}">Ціноутворення</a></li>
<!--                    <li><a href="{% url 'solar_hosting:testimonials' %}">Відгуки</a></li>-->
                    <li><a href="{% url 'solar_hosting:contact' %}">Контакти</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>
                        <form method="post" action="{% url 'solar_hosting:dashboard' %}">
                            {% csrf_token %}
                            <button type="submit" class="buttonpanel">Панель приладів</button>
                        </form>
                    </li>
                    <li style="margin-left: 10px;">
                        <form method="post" action="{% url 'solar_hosting:logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="button-logout">Вийти</button>
                        </form>
                    </li>
                    {% else %}
                    <li><a class="btn-light btn-radius btn-brd log" href="#" data-toggle="modal" data-target="#login"><i
                            class="flaticon-padlock"></i> Вхід клієнта </a></li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
</header>
{% block content %}

{% endblock %}
<div class="parallax section db parallax-off" style="background-image:url('/uploads/parallax_02.jpg');">
    <div class="container">
        <div class="row logos">
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="/uploads/logo_01.png" alt="img" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="/uploads/logo_02.png" alt="img" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="/uploads/logo_03.png" alt="img" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="/uploads/logo_04.png" alt="img" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="/uploads/logo_05.png" alt="img" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="/uploads/logo_06.png" alt="img" class="img-repsonsive"></a>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->
<section class="section nopad cac text-center">
    <a href="{% url 'solar_hosting:contact' %}"><h3>Цікавлять наші чудові послуги соняшного хостінгу? Просто надішліть нам електронного листа та отримайте інформацію безкоштовно!</h3>
    </a>
</section>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <a class="navbar-brand" href="{% url 'solar_hosting:main' %}"><img
                        src="{% static 'solar_hosting/images/logos/logo-hosting-light.png' %}"
                        alt="image"></a>
<!--                        <small>Web Hosting Template</small>-->
                    </div>
<!--                    <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus-->
<!--                        bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis-->
<!--                        montes.</p>-->
<!--                    <p>Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis montes.</p>-->
                </div><!-- end clearfix -->
            </div><!-- end col -->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Інформаційне посилання</h3>
                    </div>
                    <ul class="footer-links">
                        <li><a href="{% url 'solar_hosting:main' %}">Домівка</a></li>
                        <li><a href="{% url 'solar_hosting:pricing' %}">Ціноутворення</a></li>
                        <li><a href="{% url 'solar_hosting:features' %}">Особливості</a></li>
<!--                        <li><a href="#">Часті запитання</a></li>-->
                        <li><a href="{% url 'solar_hosting:contact' %}">Контактні дані</a></li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Контактні дані</h3>
                    </div>
                    <ul class="footer-links">
                        <li><a href="mailto:#">info@solarhosting.com</a></li>
                        <li><a href="#">solarhosting.com</a></li>
                        <li>Україна, Дніпро 49000</li>
                        <li>+380997775511</li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->
            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Соціальний</h3>
                    </div>
                    <ul class="footer-links">
                        <li><a href="https://www.facebook.com/search/top?q=hosting"><i class="fa fa-facebook"></i> 22,543 Лайки</a></li>
                        <li><a href="https://github.com/"><i class="fa fa-github"></i> 128 Проекти</a></li>
                        <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i> 12,860 Підписники</a></li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</footer><!-- end footer -->
<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-left">
                <p class="footer-company-name">Усі права захищені. &copy; 20238 <a href="#">S-Hosting</a> дизайн від : <a
                        href="https://s-hosting.com/">Solar Hosting</a></p>
            </div>
<!--            <div class="footer-right">-->
<!--                <form method="get" action="#">-->
<!--                    <input placeholder="Subscribe to our newsletter.." name="search">-->
<!--                    <i class="fa fa-envelope-o"></i>-->
<!--                </form>-->
<!--            </div>-->
        </div>
    </div><!-- end container -->
</div><!-- end copyrights -->
<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
<!-- ALL JS FILES -->
<script src="{% static 'solar_hosting/js/all.js' %}"></script>
<!-- ALL PLUGINS -->
<script src="{% static 'solar_hosting/js/custom.js' %}"></script>
</body>
</html>
