{% extends "solar_hosting/base.html" %}

{% block extra_css %}
{% load static %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'solar_hosting/css/profile-style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'solar_hosting/css/my_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'solar_hosting/css/settings.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'solar_hosting/css/profile.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'solar_hosting/css/purchase_history.css' %}">
{% endblock %}

{% block content %}
<style>
    body {
        background-image: url('/uploads/dashboard.jpg');
        background-size: cover; /* Растягивание изображения на всю ширину и высоту экрана */
        background-position: center; /* Выравнивание изображения по центру */
        background-repeat: no-repeat; /* Запрет повторения изображения */
}
</style>

<div class="row">
    <div class="col-md-3">
        <div class="menu">
            <ul>
                <li><a href="{% url 'solar_hosting:profile' %}" style="color: black;">Мій профіль</a></li>
                <li><a href="{% url 'solar_hosting:settings' %}" style="color: black;">Налаштування профілю</a></li>
                <li><a href="{% url 'solar_hosting:purchase_history' %}" style="color: black;">Історія покупок</a></li>
            </ul>
        </div>
    </div>
        <div class="col-md-9">
            {% block dashboard_content %}
            <h2>Ласкаво просимо до особистого кабінету</h2>
            <p>Це захищена зона, доступ до якої мають лише зареєстровані користувачі.</p>
            {% endblock %}
        </div>
    </div>

{% endblock %}
