{% extends "solar_hosting/base.html" %}
{% block extra_css %}
    {% load static %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'solar_hosting/css/profile-style.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="menu">
                <ul>
                    <li><a href="{% url 'solar_hosting:profile' %}" style="color: black;">Мій профіль</a></li>
                    <li><a href="{% url 'solar_hosting:settings' %}" style="color: black;">Налаштування</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <h2>Ласкаво просимо до особистого кабінету</h2>
    <p>Це захищена зона, доступ до якої мають лише зареєстровані користувачі.</p>
        </div>
    </div>
{% endblock %}
