{% extends "solar_hosting/base.html" %}
<!--{% load static %}-->
{% block extra_css %}
{{ block.super }} {# Подключите другие CSS-файлы, если необходимо #}
<link rel="stylesheet" type="text/css" href="{% static 'solar_hosting/css/error_messages.css' %}">
{% endblock %}

{% block content %}
{% if messages %}
<div class="error-messages">
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div id="home" class="first-section" style="background-image: url('uploads/slider-03-new.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="big-tagline">
                    <h2>Найкращий Сонячний Хостинг для Вашого Веб-Проекту</h2>
                    <p class="lead">Вибирай найкращих!</p>
                    <!-- Добавьте здесь любые другие элементы или кнопки, которые вам нужны -->
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->
<div id="overviews" class="section wb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h3>Про нас</h3>
                <p class="lead">Solar Hosting - це компанія, яка прагне зробити сонячний хостинг доступним для всіх.
                    Ми віримо в силу сонця як безмежного джерела енергії і пропонуємо інноваційні рішення для вашого
                    веб-хостингу.</p>
            </div>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-6">
                <div class="message-box">
                    <h4>КРАЩА ВЕБ-ХОСТИНГОВА КОМПАНІЯ 2023 РОКУ</h4>
                    <h2>Центр підтримки переможців нагород</h2>
                    <p class="lead">Висока продуктивність: Наша інфраструктура базується на сучасних технологіях,
                        що забезпечують високу продуктивність та швидкість завантаження сторінок вашого сайту.</p>

                    <p> Відповідальність перед середовищем: Використовуючи сонячну енергію,
                        ми допомагаємо зменшити викиди вуглецю та сприяємо збереженню природних ресурсів. </p>

                    <!--                    <a href="#services" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">Learn-->
                    <!--                        More</a>-->
                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="col-md-6">
                <div class="post-media wow fadeIn">
                    <img alt="img" class="img-responsive img-rounded" src="uploads/about_02.jpg">
                    <a class="playbutton" data-rel="prettyPhoto[gal]"
                       href="https://www.youtube.com/watch?v=qjk6z-xvdH4"><i
                            class="flaticon-play-button"></i></a>
                </div><!-- end media -->
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="invis">

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <i class="flaticon-server global-radius effect-1 alignleft"></i>
                    <h3>Необмежена пропускна здатність</h3>
                    <p>Ми гарантуємо необмежену пропускну здатність для вашого веб-сайту!</p>
                </div><!-- end icon-wrapper -->
            </div><!-- end col -->

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                    <i class="flaticon-cloud-computing-1 global-radius effect-1 alignleft"></i>
                    <h3>Необмежений трафік</h3>
                    <p>Ви не обмежені обсягом трафіку – ростьте та розвивайте свій веб-проект необмежено!</p>
                </div><!-- end icon-wrapper -->
            </div><!-- end col -->

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <i class="flaticon-world-wide-web global-radius effect-1 alignleft"></i>
                    <h3>Один Домен Безкоштовно</h3>
                    <p>Ви отримуєте можливість зареєструвати один домен абсолютно безкоштовно!</p>
                </div><!-- end icon-wrapper -->
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="hr3">

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <i class="flaticon-cup global-radius effect-1 alignleft"></i>
                    <h3>Підтримка переможців</h3>
                    <p>Ми надаємо підтримку переможцям нагород і робимо все можливе, щоб ваш сайт виглядав вражаюче та
                        працював на високому рівні!</p>
                </div><!-- end icon-wrapper -->
            </div><!-- end col -->

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <i class="flaticon-cer-file-format global-radius effect-1 alignleft"></i>
                    <h3>Безкоштовний SSL сертифікат</h3>
                    <p>Отримуйте безкоштовний SSL-сертифікат і забезпечте захищене з'єднання для вашого сайту!</p>
                </div><!-- end icon-wrapper -->
            </div><!-- end col -->

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                    <i class="flaticon-locked global-radius effect-1 alignleft"></i>
                    <h3>Високий рівень безпеки</h3>
                    <p>Ми гарантуємо високий рівень безпеки, захищаючи ваші дані та інформацію від потенційних
                        загроз!</p>
                </div><!-- end icon-wrapper -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div id="domain" class="parallax section noover" data-stellar-background-ratio="0.7"
     style="background-image:url('uploads/parallax_11.jpg');">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-5 col-sm-12">
                <div class="customwidget text-left">
                    <h1>Знайдіть свій домен</h1>
                    <p>З легкістю знайдіть та зарезервуйте ідеальний домен для вашого проекту чи бізнесу.</p>
                    <ul class="list-inline">
                        <li><i class="fa fa-check"></i> 5k Доменов продано у 2023 році</li>
                        <li><i class="fa fa-check"></i> 4k Веб-сайтів створено</li>
                    </ul>
                    <!-- end list -->
                    <a href="#hosting" data-scroll class="btn btn-light grd1 effect-1 btn-radius btn-brd">Пакети
                        хостингу</a>
                </div>
            </div>
            <!-- end col -->

            <div class="col-md-7">
                <form class="checkdomain form-inline" method="POST" action="{% url 'solar_hosting:purchase_domain' %}">
                    {% csrf_token %}
                    <div class="checkdomain-wrapper">
                        <div class="form-group">
                            <label class="sr-only" for="domainnamehere">Доменне ім'я</label>
                            <input type="text" class="form-control" id="domainnamehere" name="domain_name"
                                   placeholder="Введіть доменне ім'я тут для покупки...">
                            <button type="submit" class="btn btn-primary grd1"><i class="fa fa-search"></i></button>
                        </div>
                        <hr>
                        <div class="clearfix"></div>
                        <div class="checkbox checkbox-warning">
                            <input id="domaincom" type="checkbox" class="styled" checked>
                            <label for="domaincom">.com</label>
                        </div>
                        <div class="checkbox checkbox-warning">
                            <input id="domainnet" type="checkbox" class="styled" checked>
                            <label for="domainnet">.net</label>
                        </div>
                        <div class="checkbox checkbox-warning">
                            <input id="domainorg" type="checkbox" class="styled">
                            <label for="domainorg">.org</label>
                        </div>
                        <div class="checkbox checkbox-warning">
                            <input id="domaintv" type="checkbox" class="styled">
                            <label for="domaintv">.tv</label>
                        </div>
                        <div class="checkbox checkbox-warning">
                            <input id="domaininfo" type="checkbox" class="styled">
                            <label for="domaininfo">.info</label>
                        </div>
                    </div><!-- end checkdomain-wrapper -->
                </form>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div id="hosting" class="section wb" style="background: rgb(248, 248, 248)">
    <div class="container">
        <div class="section-title text-center">
            <h3>Пакети Хостингу</h3>
            <p class="lead">Ми пропонуємо різні пакети хостингу, які відповідають вашим потребам та бюджету.</p>
        </div><!-- end title -->

        <div class="row dev-list text-center">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                <div class="widget clearfix">
                    <img src="uploads/hosting_01.jpg" alt="" class="img-responsive">
                    <div class="widget-title">
                        <h3>Віртуальний хостинг</h3>
                        <small>Starting from $40/month</small>
                    </div>
                    <!-- end title -->
                    <p>Наш віртуальний хостинг надає можливість розміщувати ваш веб-сайт на наших серверах з високою
                        продуктивністю та надійністю!</p>

                    <hr>

                    <div class="footer-social">
                        <a href="#" class="btn global-radius" data-toggle="tooltip" data-placement="top"
                           title="Free Page Builder"><i class="flaticon-coding"></i></a>
                        <a href="#" class="btn global-radius" data-toggle="tooltip" data-placement="top"
                           title="WordPress Support"><i class="flaticon-wordpress-logo"></i></a>
                        <a href="#" class="btn global-radius" data-toggle="tooltip" data-placement="top"
                           title="1 Domain Free"><i class="flaticon-world-wide-web"></i></a>
                        <a href="#" class="btn global-radius" data-toggle="tooltip" data-placement="top"
                           title="50MB Bandwdith"><i class="flaticon-cloud-computing-1"></i></a>
                    </div>

                    <hr>

                    <a href="{% url 'solar_hosting:purchase' %}" data-scroll
                       class="btn btn-light grd1 effect-1 btn-radius btn-brd">Замовити зараз</a>

                </div><!--widget -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                <div class="widget clearfix">
                    <img src="uploads/hosting_02.jpg" alt="" class="img-responsive">
                    <div class="widget-title">
                        <h3>Реселлерський хостинг</h3>
                        <small>Starting from $80/month</small>
                    </div>
                    <!-- end title -->
                    <p>Реселлерський хостинг - це ідеальне рішення для тих, хто бажає стати посередником у галузі
                        веб-хостингу та надавати послуги хостингу своїм клієнтам. Ми надаємо можливість створювати та
                        керувати власними хостинг-акаунтами, отримуючи прибуток від цього бізнесу!</p>

                    <hr>

                    <div class="footer-social">
                        <a href="#" class="btn global-radius" data-toggle="tooltip" data-placement="top"
                           title="Free Page Builder"><i class="flaticon-coding"></i></a>
                        <a href="#" class="btn global-radius" data-toggle="tooltip" data-placement="top"
                           title="WordPress Support"><i class="flaticon-wordpress-logo"></i></a>
                        <a href="#" class="btn global-radius" data-toggle="tooltip" data-placement="top"
                           title="1 Domain Free"><i class="flaticon-world-wide-web"></i></a>
                        <a href="#" class="btn global-radius" data-toggle="tooltip" data-placement="top"
                           title="150MB Bandwdith"><i class="flaticon-cloud-computing-1"></i></a>
                        <a href="#" class="btn global-radius" data-toggle="tooltip" data-placement="top"
                           title="Money Back Guarentee"><i class="flaticon-money"></i></a>
                    </div>
                    <hr>

                    <a href="{% url 'solar_hosting:purchase' %}" data-scroll
                       class="btn btn-light grd1 effect-1 btn-radius btn-brd">Замовити зараз</a>

                </div><!--widget -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                <div class="widget clearfix">
                    <img src="uploads/hosting_03.jpg" alt="" class="img-responsive">
                    <div class="widget-title">
                        <h3>Виділений сервер</h3>
                        <small>Starting from $120/month</small>
                    </div>
                    <!-- end title -->
                    <p>Виділений сервер - це ідеальний вибір для бізнесів, які потребують максимальної продуктивності та
                        контролю над своєю веб-інфраструктурою. Наші виділені сервери надають найвищий рівень
                        продуктивності та безпеки, гарантуючи, що ваш веб-сайт завжди працює стабільно та швидко</p>

                    <hr>

                    <div class="footer-social">
                        <a href="#" class="btn global-radius" data-toggle="tooltip" data-placement="top"
                           title="Free Page Builder"><i class="flaticon-coding"></i></a>
                        <a href="#" class="btn global-radius" data-toggle="tooltip" data-placement="top"
                           title="WordPress Support"><i class="flaticon-wordpress-logo"></i></a>
                        <a href="#" class="btn global-radius" data-toggle="tooltip" data-placement="top"
                           title="1 Domain Free"><i class="flaticon-world-wide-web"></i></a>
                        <a href="#" class="btn global-radius" data-toggle="tooltip" data-placement="top"
                           title="Unlimited Bandwdith"><i class="flaticon-cloud-computing-1"></i></a>
                        <a href="#" class="btn global-radius" data-toggle="tooltip" data-placement="top"
                           title="Money Back Guarentee"><i class="flaticon-money"></i></a>
                        <a href="#" class="btn global-radius" data-toggle="tooltip" data-placement="top"
                           title="24/7 Support"><i class="flaticon-lifesaver-security-sportive-tool"></i></a>
                    </div>
                    <hr>

                    <a href="{% url 'solar_hosting:purchase' %}" data-scroll
                       class="btn btn-light grd1 effect-1 btn-radius btn-brd">Замовити зараз</a>

                </div><!--widget -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div class="section cl">
    <div class="container">
        <div class="row text-left stat-wrap">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i
                        class="flaticon-hosting"></i></span>
                <p class="stat_count">4000</p>
                <h3>Розміщені сайти</h3>
            </div><!-- end col -->

            <div class="col-md-4 col-sm-4 col-xs-12">
                <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i
                        class="flaticon-domain-registration"></i></span>
                <p class="stat_count">5000</p>
                <h3>Продані домени</h3>
            </div><!-- end col -->

            <div class="col-md-4 col-sm-4 col-xs-12">
                <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i
                        class="flaticon-mail"></i></span>
                <p class="stat_count">7000</p>
                <h3>Облікові записи електронної пошти</h3>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div id="pricing" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Готові почати?</h3>
            <p class="lead">Подивіться на червону доріжку <strong>всього 39 доларів на місяць!</strong> За оцінками, 3,5
                мільйона створено особистими блогами.<br> За оцінками, 3,5 мільйона створено особистими блогами. Один
                від одного ми ділимося платними темами WordPress WP Service...</p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="message-box">
                    <ul class="nav nav-pills" id="myTabs">
                        <li class="active"><a href="#tab1" data-toggle="pill">Щомісячна підписка</a></li>
                        <li><a href="#tab2" data-toggle="pill">Річна підписка</a></li>
                    </ul>
                </div>
            </div><!-- end col -->
        </div>

        <hr class="invis">

        <div class="row">
            <div class="col-md-12">
                <div class="tab-content">
                    <div class="tab-pane active fade in" id="tab1">
                        <div class="row text-center">
                            <div class="col-md-4">
                                <div class="pricing-table pricing-table-highlighted">
                                    <div class="pricing-table-header grd1">
                                        <h2>Віртуальний хостинг</h2>
                                        <h3>$85/місяць</h3>
                                    </div>
                                    <div class="pricing-table-space"></div>
                                    <div class="pricing-table-features">
                                        <p><i class="fa fa-envelope-o"></i> <strong>250</strong> Адреси електронної
                                            пошти</p>
                                        <p><i class="fa fa-rocket"></i> <strong>125GB</strong> Зберігання</p>
                                        <p><i class="fa fa-database"></i> <strong>140</strong> Бази даних</p>
                                        <p><i class="fa fa-link"></i> <strong>60</strong> Домени</p>
                                        <p><i class="fa fa-life-ring"></i> <strong>24/7 Необмежена</strong> Підтримка
                                        </p>
                                    </div>
                                    <div class="pricing-table-sign-up">
                                        <a href="{% url 'solar_hosting:purchase' %}" data-scroll
                                           class="btn btn-light btn-radius btn-brd grd1 effect-1">Замовити зараз</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="pricing-table pricing-table-highlighted">
                                    <div class="pricing-table-header grd1">
                                        <h2>Хостинг WordPress</h2>
                                        <h3>$59/рік</h3>
                                    </div>
                                    <div class="pricing-table-space"></div>
                                    <div class="pricing-table-text">
                                        <p>Це ідеальний вибір для малого бізнесу та стартапів.</p>
                                    </div>
                                    <div class="pricing-table-features">
                                        <p><i class="fa fa-envelope-o"></i> <strong>150</strong> Адреси електронної
                                            пошти</p>
                                        <p><i class="fa fa-rocket"></i> <strong>65GB</strong> Зберігання</p>
                                        <p><i class="fa fa-database"></i> <strong>60</strong> Бази даних</p>
                                        <p><i class="fa fa-link"></i> <strong>30</strong> Домени</p>
                                        <p><i class="fa fa-life-ring"></i> <strong>24/7 Необмежена</strong> Підтримка
                                        </p>
                                    </div>
                                    <div class="pricing-table-sign-up">
                                        <a href="{% url 'solar_hosting:purchase' %}" data-scroll
                                           class="btn btn-light btn-radius btn-brd grd1 effect-1">Замовити зараз</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="pricing-table pricing-table-highlighted">
                                    <div class="pricing-table-header grd1">
                                        <h2>Реселлерський хостинг</h2>
                                        <h3>$85/разово</h3>
                                    </div>
                                    <div class="pricing-table-space"></div>
                                    <div class="pricing-table-features">
                                        <p><i class="fa fa-envelope-o"></i> <strong>250</strong> Адреси електронної
                                            пошти</p>
                                        <p><i class="fa fa-rocket"></i> <strong>125GB</strong> Зберігання</p>
                                        <p><i class="fa fa-database"></i> <strong>140</strong> Бази даних</p>
                                        <p><i class="fa fa-link"></i> <strong>60</strong> Домени</p>
                                        <p><i class="fa fa-life-ring"></i> <strong>24/7 Необмежена</strong> Підтримка
                                        </p>
                                    </div>
                                    <div class="pricing-table-sign-up">
                                        <a href="{% url 'solar_hosting:purchase' %}" data-scroll
                                           class="btn btn-light btn-radius btn-brd grd1 effect-1">Замовити зараз</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end row -->
                    </div><!-- end pane -->

                    <div class="tab-pane fade" id="tab2">
                        <div class="row text-center">
                            <div class="col-md-6">
                                <div class="pricing-table pricing-table-highlighted">
                                    <div class="pricing-table-header grd1">
                                        <h2>Виділений сервер</h2>
                                        <h3>$85/місяць</h3>
                                    </div>
                                    <div class="pricing-table-space"></div>
                                    <div class="pricing-table-features">
                                        <p><i class="fa fa-envelope-o"></i> <strong>250</strong> Адреси електронної
                                            пошти</p>
                                        <p><i class="fa fa-rocket"></i> <strong>125GB</strong> Зберігання</p>
                                        <p><i class="fa fa-database"></i> <strong>140</strong> Бази даних</p>
                                        <p><i class="fa fa-link"></i> <strong>60</strong> Домени</p>
                                        <p><i class="fa fa-life-ring"></i> <strong>24/7 Необмежена</strong> Підтримка
                                        </p>
                                    </div>
                                    <div class="pricing-table-sign-up">
                                        <a href="{% url 'solar_hosting:purchase' %}" data-scroll
                                           class="btn btn-light btn-radius btn-brd grd1 effect-1">Замовити зараз</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="pricing-table pricing-table-highlighted">
                                    <div class="pricing-table-header grd1">
                                        <h2>Сервер VPS</h2>
                                        <h3>$59/місяць</h3>
                                    </div>
                                    <div class="pricing-table-space"></div>
                                    <div class="pricing-table-text">
                                        <p>Це ідеальний вибір для малого бізнесу та стартапів.</p>
                                    </div>
                                    <div class="pricing-table-features">
                                        <p><i class="fa fa-envelope-o"></i> <strong>150</strong> Адреси електронної
                                            пошти</p>
                                        <p><i class="fa fa-rocket"></i> <strong>65GB</strong> Зберігання</p>
                                        <p><i class="fa fa-database"></i> <strong>60</strong> Бази даних</p>
                                        <p><i class="fa fa-link"></i> <strong>30</strong> Домени</p>
                                        <p><i class="fa fa-life-ring"></i> <strong>24/7 Необмежена</strong> Підтримка
                                        </p>
                                    </div>
                                    <div class="pricing-table-sign-up">
                                        <a href="{% url 'solar_hosting:purchase' %}" data-scroll
                                           class="btn btn-light btn-radius btn-brd grd1 effect-1">Замовити зара</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end row -->
                    </div><!-- end pane -->
                </div><!-- end content -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<!--    <div id="overviews" class="section wb">-->
<!--    <div class="container">-->
<!--        <div class="section-title row text-center">-->
<!--            <div class="col-md-8 col-md-offset-2">-->
<!--                <h3>Про нас</h3>-->
<!--                <p class="lead">Solar Hosting - це компанія, яка прагне зробити сонячний хостинг доступним для всіх.-->
<!--                    Ми віримо в силу сонця як безмежного джерела енергії і пропонуємо інноваційні рішення для вашого-->
<!--                    веб-хостингу.</p>-->
<!--            </div>-->
<!--        </div>&lt;!&ndash; end title &ndash;&gt;-->

<!--        <div class="row">-->
<!--            <div class="col-md-6">-->
<!--                <div class="message-box">-->
<!--                    <h4>КРАЩА ВЕБ-ХОСТИНГОВА КОМПАНІЯ 2023 РОКУ</h4>-->
<!--                    <h2>Центр підтримки переможців нагород</h2>-->
<!--                    <p class="lead">Висока продуктивність: Наша інфраструктура базується на сучасних технологіях,-->
<!--                        що забезпечують високу продуктивність та швидкість завантаження сторінок вашого сайту.</p>-->

<!--                    <p> Відповідальність перед середовищем: Використовуючи сонячну енергію,-->
<!--                        ми допомагаємо зменшити викиди вуглецю та сприяємо збереженню природних ресурсів. </p>-->

<!--&lt;!&ndash;                    <a href="#services" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">Learn&ndash;&gt;-->
<!--&lt;!&ndash;                        More</a>&ndash;&gt;-->
<!--                </div>&lt;!&ndash; end messagebox &ndash;&gt;-->
<!--            </div>&lt;!&ndash; end col &ndash;&gt;-->

<!--            <div class="col-md-6">-->
<!--                <div class="post-media wow fadeIn">-->
<!--                    <img alt="img" class="img-responsive img-rounded" src="/uploads/about_02.jpg">-->
<!--                    <a class="playbutton" data-rel="prettyPhoto[gal]" href="https://www.youtube.com/watch?v=qjk6z-xvdH4"><i-->
<!--                            class="flaticon-play-button"></i></a>-->
<!--                </div>&lt;!&ndash; end media &ndash;&gt;-->
<!--            </div>&lt;!&ndash; end col &ndash;&gt;-->
<!--        </div>&lt;!&ndash; end row &ndash;&gt;-->

<!--        <hr class="invis">-->

<!--        <div class="row">-->
<!--            <div class="col-md-4 col-sm-6 col-xs-12">-->
<!--                <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">-->
<!--                    <i class="flaticon-server global-radius effect-1 alignleft"></i>-->
<!--                    <h3>Необмежена пропускна здатність</h3>-->
<!--                    <p>Ми гарантуємо необмежену пропускну здатність для вашого веб-сайту!</p>-->
<!--                </div>&lt;!&ndash; end icon-wrapper &ndash;&gt;-->
<!--            </div>&lt;!&ndash; end col &ndash;&gt;-->

<!--            <div class="col-md-4 col-sm-6 col-xs-12">-->
<!--                <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">-->
<!--                    <i class="flaticon-cloud-computing-1 global-radius effect-1 alignleft"></i>-->
<!--                    <h3>Необмежений трафік</h3>-->
<!--                    <p>Ви не обмежені обсягом трафіку – ростьте та розвивайте свій веб-проект необмежено!</p>-->
<!--                </div>&lt;!&ndash; end icon-wrapper &ndash;&gt;-->
<!--            </div>&lt;!&ndash; end col &ndash;&gt;-->

<!--            <div class="col-md-4 col-sm-6 col-xs-12">-->
<!--                <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">-->
<!--                    <i class="flaticon-world-wide-web global-radius effect-1 alignleft"></i>-->
<!--                    <h3>Один Домен Безкоштовно</h3>-->
<!--                    <p>Ви отримуєте можливість зареєструвати один домен абсолютно безкоштовно!</p>-->
<!--                </div>&lt;!&ndash; end icon-wrapper &ndash;&gt;-->
<!--            </div>&lt;!&ndash; end col &ndash;&gt;-->
<!--        </div>&lt;!&ndash; end row &ndash;&gt;-->

<!--        <hr class="hr3">-->

<!--        <div class="row">-->
<!--            <div class="col-md-4 col-sm-6 col-xs-12">-->
<!--                <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">-->
<!--                    <i class="flaticon-cup global-radius effect-1 alignleft"></i>-->
<!--                    <h3>Підтримка переможців</h3>-->
<!--                    <p>Ми надаємо підтримку переможцям нагород і робимо все можливе, щоб ваш сайт виглядав вражаюче та працював на високому рівні!</p>-->
<!--                </div>&lt;!&ndash; end icon-wrapper &ndash;&gt;-->
<!--            </div>&lt;!&ndash; end col &ndash;&gt;-->

<!--            <div class="col-md-4 col-sm-6 col-xs-12">-->
<!--                <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">-->
<!--                    <i class="flaticon-cer-file-format global-radius effect-1 alignleft"></i>-->
<!--                    <h3>Безкоштовний SSL сертифікат</h3>-->
<!--                    <p>Отримуйте безкоштовний SSL-сертифікат і забезпечте захищене з'єднання для вашого сайту!</p>-->
<!--                </div>&lt;!&ndash; end icon-wrapper &ndash;&gt;-->
<!--            </div>&lt;!&ndash; end col &ndash;&gt;-->

<!--            <div class="col-md-4 col-sm-6 col-xs-12">-->
<!--                <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">-->
<!--                    <i class="flaticon-locked global-radius effect-1 alignleft"></i>-->
<!--                    <h3>Високий рівень безпеки</h3>-->
<!--                    <p>Ми гарантуємо високий рівень безпеки, захищаючи ваші дані та інформацію від потенційних загроз!<small class="readmore"><a href="#">Read more</a></small></p>-->
<!--                </div>&lt;!&ndash; end icon-wrapper &ndash;&gt;-->
<!--            </div>&lt;!&ndash; end col &ndash;&gt;-->
<!--        </div>&lt;!&ndash; end row &ndash;&gt;-->
<!--    </div>&lt;!&ndash; end container &ndash;&gt;-->
<!--</div>&lt;!&ndash; end section &ndash;&gt;-->


<!--<div id="support" class="section wb">-->
<!--    <div class="container">-->
<!--        <div class="section-title text-center">-->
<!--            <h3>Need Help? Sure we are Online!</h3>-->
<!--            <p class="lead">Let us give you more details about the special offer website you want us. Please fill out-->
<!--                the form below. <br>We have million of website owners who happy to work with us!</p>-->
<!--        </div>&lt;!&ndash; end title &ndash;&gt;-->

<!--        <div class="row">-->
<!--            <div class="col-md-12">-->
<!--                <div class="contact_form">-->
<!--                    <div id="message"></div>-->
<!--                    <form id="contactform" class="row" action="contact.php" name="contactform" method="post">-->
<!--                        <fieldset class="row-fluid">-->
<!--                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
<!--                                <input type="text" name="first_name" id="first_name" class="form-control"-->
<!--                                       placeholder="First Name">-->
<!--                            </div>-->
<!--                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
<!--                                <input type="text" name="last_name" id="last_name" class="form-control"-->
<!--                                       placeholder="Last Name">-->
<!--                            </div>-->
<!--                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
<!--                                <input type="email" name="email" id="email" class="form-control"-->
<!--                                       placeholder="Your Email">-->
<!--                            </div>-->
<!--                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
<!--                                <input type="text" name="phone" id="phone" class="form-control"-->
<!--                                       placeholder="Your Phone">-->
<!--                            </div>-->
<!--                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
<!--                                <textarea class="form-control" name="comments" id="comments" rows="6"-->
<!--                                          placeholder="Give us more details.."></textarea>-->
<!--                            </div>-->
<!--                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">-->
<!--                                <button type="submit" value="SEND" id="submit"-->
<!--                                        class="btn btn-light btn-radius btn-brd grd1 btn-block">Get a Quote-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </fieldset>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>&lt;!&ndash; end col &ndash;&gt;-->
<!--        </div>&lt;!&ndash; end row &ndash;&gt;-->
<!--    </div>&lt;!&ndash; end container &ndash;&gt;-->
<!--</div>&lt;!&ndash; end section &ndash;&gt;-->
{% endblock %}