{% extends 'solar_hosting/dashboard.html' %}

{% block dashboard_content %}
    <style>
        .user-profile {
            background-color: #f3f3f3;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin: 10px;
        }

        .user-profile h2 {
            color: #333;
            font-size: 24px;
        }

        .user-profile p {
            color: #666;
            font-size: 16px;
            margin: 10px 0;
        }

        /* Пример стилизации для разных элементов */
        .user-profile strong {
            color: #3498db; /* Зеленый цвет для текста в strong теге */
        }

        /* Стилизация для каждого поля профиля */
        .user-profile .user-info {
            margin-bottom: 20px;
        }

        .user-profile .user-info h4 {
            font-size: 18px;
            margin: 10px 0;
        }
    </style>

    <div class="user-profile">
        <h2>Профиль пользователя</h2>
        <div class="user-info">
            <h4>Имя пользователя</h4>
            <p><strong>{{ user.username }}</strong></p>
        </div>
        <div class="user-info">
            <h4>Email</h4>
            <p><strong>{{ user.email }}</strong></p>
        </div>
        <div class="user-info">
            <h4>Телефон</h4>
            <p><strong>{{ user.phone }}</strong></p>
        </div>
        <!-- Другие поля профиля пользователя могут быть стилизованы аналогичным образом -->
    </div>
{% endblock %}


