{% extends 'solar_hosting/dashboard.html' %}

{% block dashboard_content %}


<div class="user-profile">
    <h2>Профіль користувача</h2>
    <div class="user-info">
        <h4>Ім'я користувача</h4>
        <p><strong>{{ user.username }}</strong></p>
    </div>
    <div class="user-info">
        <h4>Елетронна пошта</h4>
        <p><strong>{{ user.email }}</strong></p>
    </div>
    <div class="user-info">
        <h4>Телефон</h4>
        <p><strong>{{ user.phone }}</strong></p>
    </div>
    <div class="user-info">
        <h4>Дата реєстрації</h4>
        <p><strong>{{ user.date_joined }}</strong></p>
    </div>
    <!-- Другие поля профиля пользователя могут быть стилизованы аналогичным образом -->
</div>
{% endblock %}


