{% extends "solar_hosting/dashboard.html" %}
{% block dashboard_content %}

<div class="container">
    <h1 class="mb-4">История покупок</h1>
    <h2 class="mb-4">История покупок хостинга</h2>
    {% if hosting_purchases %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Название плана</th>
                    <th scope="col">Дата покупки</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in hosting_purchases %}
                    <tr>
                        <td>{{ purchase.plan.name }}</td>
                        <td>{{ purchase.purchase_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Вы пока не совершили ни одной покупки хостинга.</p>
    {% endif %}

    <h2 class="mb-4">История покупок доменов</h2>
    {% if domain_purchases %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Доменное имя</th>
                    <th scope="col">Дата покупки</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in domain_purchases %}
                    <tr>
                        <td>{{ purchase.domain_name }}</td>
                        <td>{{ purchase.purchase_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Вы пока не совершили ни одной покупки доменов.</p>
    {% endif %}
</div>

{% endblock %}
