{% extends "solar_hosting/base.html" %}

{% block content %}
<div class="container">
    <h2>Оформлення покупки</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="plan">Виберіть план:</label>
            {{ form.plan }}
        </div>

        <!-- Другие поля для ввода информации о покупке (период, количество и т. д.) -->

        <button type="submit" class="btn btn-primary">Оформити покупку</button>
    </form>
</div>
{% endblock %}
