{% extends "solar_hosting/dashboard.html" %}
{% block dashboard_content %}

<div class="container">
    <h1 class="mb-4">Історія покупок</h1>
    <h2 class="mb-4">Історія покупок хостингу</h2>
    {% if hosting_purchases %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Назва плану</th>
                    <th scope="col">дата купівлі</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in hosting_purchases %}
                    <tr>
                        <td>{{ purchase.plan.name }}</td>
                        <td>{{ purchase.purchase_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Ви поки що не здійснили жодної покупки хостингу.</p>
    {% endif %}

    <h2 class="mb-4">Історія покупок доменів</h2>
    {% if domain_purchases %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Доменне ім'я</th>
                    <th scope="col">Дата купівлі</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in domain_purchases %}
                    <tr>
                        <td>{{ purchase.domain_name }}</td>
                        <td>{{ purchase.purchase_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Ви поки що не здійснили жодної покупки доменів.</p>
    {% endif %}
</div>

{% endblock %}
