{% extends 'solar_hosting/dashboard.html' %}

{% block dashboard_content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $(".edit-button").click(function() {
            var container = $(this).closest(".user-settings");
            container.find(".data-display").hide();
            container.find(".data-edit").show();
            container.find(".edit-button").hide();
            container.find(".save-button").show();
        });
    });
</script>


<div class="user-settings">
    <h4>Налаштування користувача</h4>

    <!-- Личные данные -->
    <div class="data-display">
        <h5>Особисті дані</h5>
        <p>Ім'я: {{ user.first_name }}</p>
        <p>Прізвище: {{ user.last_name }}</p>
        <button class="edit-button">Змінити дані</button>
    </div>
    <!-- Форма для изменения имени -->
    <div class="data-edit">
        <form method="post" action="{% url 'solar_hosting:change_settings' %}?action=profile">
            {% csrf_token %}
            <label for="first_name">Ім'я:</label>
            <input type="text" name="first_name" id="first_name" value="{{ user.first_name }}">

            <label for="last_name">Прізвище:</label>
            <input type="text" name="last_name" id="last_name" value="{{ user.last_name }}">

            <button type="submit" class="save-button">Зберегти зміни для імені та прізвища</button>
        </form>

    </div>

    <!-- Email -->
    <div class="data-display">
        <h5>Електронна пошта</h5>
        <p>Email: {{ user.email }}</p>
        <button class="edit-button">Змінити дані</button>
    </div>
    <div class="data-edit">
        <h5>Електронна пошта</h5>
        <form method="post" action="{% url 'solar_hosting:change_settings' %}?action=email">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" value="{{ user.email }}">
            <button type="submit" class="save-button">Зберегти зміни</button>
        </form>
    </div>

    <!-- Телефон -->
    <div class="data-display">
        <h5>Телефон</h5>
        <p>Телефон: {{ user.phone }}</p>
        <button class="edit-button">Змінити дані</button>
    </div>
    <div class="data-edit">
        <h5>Телефон</h5>
        <form method="post" action="{% url 'solar_hosting:change_settings' %}?action=phone">
            {% csrf_token %}
            <label for="phone">Телефон:</label>
            <input type="text" name="phone" id="phone" value="{{ user.phone }}">
            <button type="submit" class="save-button">Зберегти зміни</button>
        </form>
    </div>
<!--    <div class="data-display">-->
<!--        <h5>Пароль</h5>-->
<!--        <p>Пароль: ********</p>-->
<!--        <button class="edit-button">Змінити дані</button>-->
<!--    </div>-->
<!--    <div class="data-edit">-->
<!--        <h5>Пароль</h5>-->
<!--        <form method="post" action="{% url 'solar_hosting:change_settings' %}?action=password">-->
<!--            {% csrf_token %}-->
<!--            <label for="password">Новый пароль:</label>-->
<!--            <input type="password" name="password" id="password">-->
<!--            <button type="submit" class="save-button">Змінити пароль</button>-->
<!--        </form>-->
<!--    </div>-->
    <div class="data-display">
    <h5>Пароль</h5>
    <p>Пароль: ********</p>
    <button class="edit-button" onclick="showPasswordForm()">Змінити пароль</button>
</div>

<div class="data-edit" style="display: none;" id="password-form">
    <h5>Пароль</h5>
    <form method="post" action="{% url 'solar_hosting:change_settings' %}?action=password">
        {% csrf_token %}
        <div class="form-group">
            <label for="password">Старий пароль:</label>
            <input type="password" name="old_password" id="old_password">
        </div>
        <div class="form-group">
            <label for="new_password1">Новий пароль:</label>
            <input type="password" name="new_password1" id="new_password1">
        </div>
        <div class="form-group">
            <label for="new_password2">Підтвердіть новий пароль:</label>
            <input type="password" name="new_password2" id="new_password2">
        </div>
        <button type="submit" class="save-button">Змінити пароль</button>
    </form>
</div>

<script>
    function showPasswordForm() {
        document.getElementById('password-form').style.display = 'block';
    }
</script>
    {% for message in messages %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
</div>

{% endblock %}
